DATABASE_URL="postgresql://postgresS:postgres123@localhost:5435/leetcode?schema=public"
ALLOW_DEV_AUTH_FALLBACK="false"
DEV_USER_EMAIL="developer@local.test"
DEV_USER_ROLE="ADMIN"
JUDGE0_API_URL=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
